body {
    margin: 0;
    background: url('https://images.unsplash.com/photo-1528458909336-e7a0adfed0a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1545&q=80') no-repeat center fixed;
    background-size: cover;
}

.row {
    margin-left: 15px;
}

.col-md-4 {
    padding-left: 15px;
}

.bg-light {
    background-color: #E0E0CE!important;
}

.navbar-brand {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    
}

.jumbotron {
    background-image: url('./assets/grass_sun.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    text-align: center;
    padding-top: 11em;
}

@font-face {
    font-family: Quicksand;
    src: url(assets/Quicksand-VariableFont_wght.ttf);
}

.display-3 {
    padding: 1em;
    text-align: center;
}

#profile-pic {
    display: flex;
    justify-content: center;
    border-radius: 1em;
}

#about {
    margin: 2em;
    background: rgba(84, 100, 72, 0.575);
    border-radius: 2em;
}

#about-pic {
    border: .05em solid grey;
    border-radius: 2%;
    margin: 2em 1.5em 1em 0em;
    height: 24em;
}

p{
    font-size: 16px;
}

#about-text{
    padding: 0em 1em 0em 1em;
    text-align: center;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    margin: 1em 1em;
}

#projects{
    margin: 0;
    padding: 1em 2em 1em 2em;
}


#interests{
    padding: 2em;
    margin: 5px;
    justify-content: center;
}

#icons {
    text-align: center;
    margin-bottom: 1em;
}

ul {
    list-style: none;
    text-align: center;
    padding: 1em 0em 0em 0em;
    margin-top: 1em;
    border-top: .05em solid grey;
    /* border-bottom: .05em solid grey; */
}

h6 {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    margin-top: .5em;
    text-align: center;
}

h5 {
    text-align: center;
    margin-top: .5em;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}

h4{
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    margin-top: 1em;
    padding-top: 1.25em;
    font-weight: bold;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding-top: .5em;
}

#carouselExampleCaptions {
    width: 70%;
    height: 70%;
}

#card {
    text-align: center;
    border-top: .05em solid grey;
    border-bottom: .05em solid grey;
    padding: .5em;
    margin-bottom: .5em;
}

.btn {
    border: .05em solid grey;
    background-color: #E0E0CE;
    color: rgb(46, 44, 44);
    opacity: 1;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.7;
}

a {
    color: #9D2F38;
}

a:hover {
    color:  rgb(84, 100, 72, 0.8);
}

#contact {
    height: 65vh;
    margin-top: 15px;
}

.label {
    margin: 5px 0;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}

.inputField {
    width: 49vw;
}

#fs-frm {
    display: flex;
    justify-content: center;
}

#fs-frm-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;
}

#submit {
     width: 6em;
     margin-top: .5em;
 }

#footer-title {
    font-size: small;
    margin-bottom: .5em;
}

footer {
    font-size: small;
    padding-top: 2em;
    text-align: center;
    height: 18vh;
    background-color: rgb(50, 50, 50, 0.3);
}
